    * {
        margin: 0%;
    }
    
    nav {
        background-color: bisque;
        border: 12px;
        padding: 5px;
        width: 100%;
        height: 54px;
    }
    
    .inav {
        padding: 13px;
        border: 10px;
        font-size: medium;
        height: 28px;
        width: 98%;
    }
    
    .inav a:hover {
        color: blue;
    }
    
    .inav a {
        height: 17px;
        float: left;
        text-align: center;
        padding-right: 12px;
        padding-bottom: 5px;
        padding-left: 12px;
        padding-top: 5px;
        text-decoration: solid;
        font-size: large;
        color: rgb(75, 55, 55);
    }
    
    h1 {
        background-color: rgb(76, 221, 141);
        text-align: center;
        height: 79px;
        padding-top: 12px;
        font-size: 67px;
    }
    
    img {
        height: 999px;
        width: 100%;
        margin: 0%;
    }
    
    .notbox {
        border: 15px;
        height: 299px;
        width: 100%;
        text-align: center;
        font-size: 33px;
        background-color: aquamarine;
        padding-bottom: 13px;
        padding-top: 12px;
    }
    
    marquee {
        height: 195px;
    }